.grid-container {
    width: 85vw;
    height: 85vh;
    display: flex;
    margin: 50px;
    border-style: solid;
    border-color: brown;
    border-radius: 15px;
    border-width: 15px;
    background-color: antiquewhite;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgb(237, 250, 255);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;

}

h1{
    font-size: 50px;
}

.box {
    display: flex;
    border-style: solid;
    border-color: black;
    flex: 1;


}

.header {
    border-style: solid;
    border-color: black;
    display: flex;
    border-width:1px;
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100px;
    justify-content: center;
}

.resize{
    background-color: rgb(65, 98, 121);
    border-radius: 10px;
    color:white;
    font-size:20px;
}
.color{
    width:75px;
    border-style: solid;
    border-width:2px;
}
.green{
    background-color: green;
   
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
    
}

.purple{
    background-color: purple;

}

.black{
    background-color: black;
}

.multi{
    background-color: white;
}