.grid-container{
    width: 100vw;
    height: 100vh;
    display:flex;
}

body{
    margin:500px;
}

.container{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.box{
    display:flex;
    border-style: solid;
    border-color: black;
    min-width: 10px;
    min-height: 10px;
    flex: 1;
    
}

.header{
    border-style: solid;
    border-color: black;
    display:flex;
    background-color: antiquewhite;
    margin:0px;
    padding:0px;
    width:100vw;
    height:50px;
    justify-content: center;
}