.grid-container{
    display:flex;
    justify-content: stretch;
    align-items: stretch;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
}

.box{
    border-style: solid;
    border-color: black;
    min-width: 100px;
    min-height:100px;
}